<!DOCTYPE html>
<html lang="en">

  <head>


  </head>

  <body>

    <!-- Navigation -->

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        영화제목
      </h1>

      <!-- Project One -->
      <div class="row">
        <!-- 영화정보 -->
        <div class="col-md-12">
          <img>
          <ul>
            <li>장르</li>
            <li>감독</li>
            <li>출연</li>
          </ul>
        </div>
      </div>
        <!-- 영화정보 -->

        <hr>

        <hr>

        <div class="row">
          <h1>관련 리뷰들</h1>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="" style="width:200px; height:300px">
            </a>
          </div>
          <div class="col-md-5">
            <h3>Project One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-primary" href="#">View Project
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
      </div>
      <!-- /.row -->

      <hr>



    </div>
    <!-- /.container -->

  </body>

</html>
